.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.gray li {
  float: left;
}

ul.gray {
  background-color: #232324;
  height: 46px;
  list-style-type: none;
  overflow: initial;
  margin: auto;
  padding: 0;
}

ul.gray li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.gray li a.toggled{
  background-color: #ddd;
}

ul.gray li a.toggled + div {
  display: block;
}

ul.gray li a:hover:not(.active) {
  background-color: #ddd;
}

ul.gray li a.active {
  color: white;
  background-color: #008CBA;
}

.footer {
  background-color: gainsboro;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  height: auto;
  position: relative;
}

.inProgress{
  background: none;
  border: none;

  padding: 30px;
  border-radius: 50px;
  background-color: crimson;
  font-size: xx-large;
}

.footerItem {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #666;
  padding: 40px 16px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  display: inline;
}

.icon {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 50px;
  max-height: 50px;
}

.content {
  background: steelblue;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ddd;
  padding: 25px;
}

body {
  font-family: sans-serif;
  color: #777777;
  background: #292929;
  height: 100%;
}

.container{
  box-shadow: 0 0 20px black;
  background-color: rgba(0, 0, 0, 0.3);
  width: 85%; 
  margin: auto;
  text-align: center;
}

.header{
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid black;
  border-radius: 20px 5px;
  background-color:rgba(112, 128, 144, 0.4)
}

.table-of-contents{
  padding: 10px;
  background-color: darkcyan;
  border: 5px solid #292929;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}

.table-of-contents ul li{
  text-align: left;
  font-size: 25px;
}

.part{
  border: .5em solid darkslategrey;
  width: 80%;
  margin: auto;
  background-color: #2929297F;
}

.part p{
  text-align: left;
  padding: 10px;
  font-size: 25px;
}

.part img{
  display:block;
  max-width: 80%;
  margin:auto;
}

.part ul:not(.element_formation) li{
  text-align: left;
  font-size: 25px;
}

ul.element_formation{
  padding-left: 0px;
}

ul.element_formation>li{
  --size: 100px;
  position: relative;
  color: var(--color);
  border-color: var(--color);
}

ul.element_formation>li>strong{
  font-size: xx-large;
  display: block;
}

ul.element_formation>li>img{
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 5px solid;
}

ul.element_formation li:after{
  position: relative;
  display: block;
  content: url(assets/arrow.svg);
  max-width:fit-content;
}

ul.element_formation li:first-child:after{
  top: 1em;
  left: 14em;
  -webkit-transform:  rotate(225deg) scale(5);
  -ms-transform: rotate(225deg) scale(5);
  transform: rotate(225deg) scale(5);
}

ul.element_formation li:nth-child(2):after{
  left: 12em;
  top: -4em;
  -webkit-transform: rotate(90deg) scale(5);
  -ms-transform: rotate(90deg) scale(5);
  transform: rotate(90deg) scale(5);
}

ul.element_formation li:last-child:after{
  left: -1.5em;
  top: -10em;
  -webkit-transform: rotate(315deg) scale(5);
  -ms-transform: rotate(315deg) scale(5);
  transform: rotate(315deg) scale(5);
}


ul.element_formation li:first-child{
  display: block;
  margin-bottom: 100px;
}

ul.element_formation li:nth-child(2){
  display: inline-block;
  right: calc(25% - var(--size)/2 - 5px); /* to space eaqually offset the margin by 25% - the size - the border */
}

ul.element_formation li:last-child{
  display: inline-block;
  left: calc(25% - var(--size)/2 - 5px); /* to space eaqually offset the margin by 25% - the size - the border */
}

.discord{
  height: 400px;
  background-color: #5865F2;
  overflow: hidden;
}

.discord>div{
  padding: 20px;
  max-width: 50%;
}

.discord>div>a{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(55, 57, 59);
  border: #57F287 solid 3px;
  color: #fff;
  text-decoration: none;
}

.discord>iframe{
  float: right;
  width: 30%;
  height:100%;
}

.about{
  background-color: #a1292b;
  padding: 5px;
}

a{
  text-decoration:underline;
  color: #0000ff;
}

.content>div{
  border-radius: 30px;
  box-shadow: 0 10px 20px black;
  font-size: x-large;
  margin-bottom: 50px;
}

img.arrow{
  display: inline;
  -webkit-transform: rotate(90deg) translateX(5px);
  -ms-transform: rotate(90deg) translateX(5px);
  transform: rotate(90deg) translateX(5px);
}