a {
  font-family: Monospace;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

.dropdown:hover>.dropdown-content {
  display: block;
}

ul.nav {
  position: sticky;
  top: 0;
  background-color: #232324;
  height: 46px;
  list-style-type: none;
  overflow: initial;
  margin: auto;
  padding: 0;
}

ul.nav>li {
  float: left;
}

ul.nav>li a {
  font-family: sans-serif;
  display: block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav>li>a.toggled {
  background-color: #ddd;
}

ul.nav>li>a.toggled+div {
  display: block;
}

ul.nav>li>a:hover:not(.active, .holdsActive) {
  background-color: #ddd;
}

ul.nav>li a.active {
  color: white;
  background-color: #008CBA;
}

ul.nav>li>a.holdsActive {
  color: lightgrey;
  background-color: dimgray;
}

.footer {
  background-color: gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.contact {
  display: inline;
}

.icon {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 50px;
  max-height: 50px;
}

.content {
  background: steelblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  color: #ddd;
  padding: 25px;
}

body {
  font-family: sans-serif;
  color: #777777;
  background: #292929;
  margin: 0;
}

.container {
  box-shadow: 0 0 20px black;
  width: 85%;
  margin: auto;
  text-align: center;
}

.table-of-contents {
  padding: 10px;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  background-color: darkgrey;
  border-radius: 30px;
  border: 5px solid #292929;
  box-shadow: 0 0 20px black;
}

.part {
  border: .5em solid darkslategrey;
  width: 80%;
  margin: auto;
  background-color: #2929297F;
  font-size: 25px;
}

.part>p {
  text-align: left;
  padding: 10px;
}

.part img {
  display: block;
  max-width: 85%;
  margin: auto;
}

.part ul:not(.element_formation){
  text-align: left;
}

ul.element_formation {
  position: relative;
  padding-left: 0px;
}

ul.element_formation>li {
  position: relative;
}

ul.element_formation>li>strong {
  font-size: xx-large;
}

ul.element_formation>li>img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid;
}

ul.element_formation>li:first-of-type {
  display: block;
  margin-bottom: 100px;
}

ul.element_formation>li:nth-of-type(2) {
  display: inline-block;
  right: calc(25% - 50px - 5px);
  /* to space equally offset the margin by 25% - half the size - the border */
}

ul.element_formation>li:last-of-type {
  display: inline-block;
  left: calc(25% - 50px - 5px);
  /* to space equally offset the margin by 25% - half the size - the border */
}

ul.element_formation>img{
  position: absolute;
}

ul.element_formation>img:first-of-type{
  top: 40%;
  left: 30%;
  -webkit-transform: rotate(225deg) scale(5);
  -ms-transform: rotate(225deg) scale(5);
  transform: rotate(225deg) scale(5);
}

ul.element_formation>img:nth-of-type(2){
  top: 75%;
  right: 50%;
  -webkit-transform: rotate(90deg) scale(5);
  -ms-transform: rotate(90deg) scale(5);
  transform: rotate(90deg) scale(5);
}

ul.element_formation>img:last-of-type{
  top: 40%;
  right: 30%;
  -webkit-transform: rotate(315deg) scale(5);
  -ms-transform: rotate(315deg) scale(5);
  transform: rotate(315deg) scale(5);
}

.discord {
  height: 400px;
  background-color: #5865F2;
  overflow: hidden;
}

.discord>div {
  padding: 20px;
  max-width: 50%;
}

.discord>div>a {
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(55, 57, 59);
  border: #57F287 solid 3px;
  color: #fff;
  text-decoration: none;
}

.discord>iframe {
  float: right;
  width: 30%;
  height: 100%;
}

.about {
  background-color:chocolate;
  padding: 5px;
}

.content>div {
  border-radius: 30px;
  box-shadow: 0 10px 20px black;
  font-size: x-large;
  margin-bottom: 50px;
}

img.arrow {
  display: inline;
  -webkit-transform: rotate(90deg) translateX(5px);
  -ms-transform: rotate(90deg) translateX(5px);
  transform: rotate(90deg) translateX(5px);
}

.about :not(h1) {
  text-align: left;
}